<% if (nombre==null) { %>
    <%- include("partials/header.ejs")%>
<% } else { %>
    <%- include("partials/headerRegistrado.ejs")%>
<% } %>
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h1 class="titulos">Todos los productos</h1>
            </div>
            <!-- Show the "ultimos" products -->
            <%for(let i=0;i<products.length;i+=1){%>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                            <figure class="product-box_image">
                                <a href="/productos/busqueda/<%=products[i].id%>"><img class="imagenproductos" src="<%=products[i].foto%>" alt="<%products[i].marca%>-<%products[i].modelo%>"></a>
                            </figure>
                            <article class="product-box_data">
                                <a href="/productos/busqueda/<%=products[i].id%>"><h2><%=products[i].marca%> <%=products[i].modelo%></h2></a>
                                <p><%=products[i].descripcion%></p>
                                <p>Comentarios: <%= products[i].comentarios.length%></p>
                                <p>Usuario: <a href="/usuarios/users/<%=products[i].usuarios.id%>"><%=products[i].usuarios.nombre%></a> </p>
                            </article>
                    </section>
                </div>
            <%}%> 
        </div>
    </div>
<%- include("partials/footer.ejs")%>