<%- include("partials/headerRegistrado.ejs")%>

    <h1 id="registration-page">Edición de Perfil</h1>
    <h2 id="registration-page">Complete los campos necesarios para la edición de su perfil</h2>


    <form id="registration-form" method="POST" action="/edicion">
        <div class="form-group">
            <h2>Nombre</h2>
            <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp"
            name="nombre" value="<%=resultados.nombre%>">
        </div>

        <div class="form-group">
            <h2>Apellido</h2>
            <input type="text" class="form-control" id="exampleInputApellido" aria-describedby="emailHelp"
            name="apellido" value="<%=resultados.apellido%>">
        </div>

        <div class="form-group">
            <h2>Email</h2>
            <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
            name="mail" value="<%=resultados.mail%>">
        </div>

        <div class="form-group">
            <h2>Documento</h2>
            <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" name="documento" value="<%=resultados.documento%>">
        </div>

        <div class="form-group">
            <h2>Nacimiento</h2>
            <input type="date" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" name="fecha_de_nacimiento" value="<%=resultados.fecha_de_nacimiento%>">
        </div>

        <div class="form-group">
            <h2>Contraseña</h2>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="<%=resultados.password%>">
        </div>

        <button type="submit" id="submit-button" class="btn btn-primary">Guardar cambios</button>
    </form>

<%- include("partials/footer.ejs")%>