<%- include("partials/headerRegistrado.ejs")%>

    <h1 id="registration-page">¡Edita tu producto en la página!</h1>
    <form class="agregar-form" id="registration-form"  action="/productos/editar/<%=resultados.id%>" method="POST" enctype="multipart/form-data">
        <article class="info-general">
            <h2 id="nombre-info">Marca</h2>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" name="marca" value="<%=resultados.marca%>" required>
            </div>
            
            <h2 id="nombre-info">Modelo</h2>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" name="modelo" value="<%=resultados.modelo%>" required>
            </div>
            
            <h2 id="nombre-info">Año</h2>
            <div class="form-group">
                <input type="number" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" name="año" value="<%=resultados.año%>" required  maxlength="4" minlength="4">
            </div>
            
            <h2 id="nombre-info">Color</h2>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" name="color" value="<%=resultados.color%>" required>
            </div>
        </article>
    
        <article class="detalles">
            <h2 id="nombre-info">Imagen</h2>
            <div class="form-group">
                <input type="file" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" name="foto" value="<%=resultados.foto%>" required>
            </div>
            
            <h2 id="nombre-info">Descripción</h2>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" name="descripcion" value="<%=resultados.descripcion%>" required>
            </div>

            <h2 id="nombre-info">Descripción Larga</h2>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" name="descripcionlarga" value="<%=resultados.descripcionlarga%>" required>
            </div>

            <button type="submit" id="submit-button" class="btn btn-primary">Subir producto</button>
        </article>
       
    </form>    

<%- include("partials/footer.ejs")%>