<%var ultimo = products.pop()%>
<%if(ultimo=="logueado"){%>
	<%- include("partials/headerRegistrado.ejs")%>
<%}else{%>
	<%products.push(ultimo)%>
	<%- include("partials/header.ejs")%>
<%}%>
    
	<!-- Banner -->
	<div >
		<img src="images/Banner-principal-home.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->
	<%if(ultimo=="logueado"){%>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="titulos">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%for(let i=0;i<4;i+=1){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
							<figure class="product-box_image">
								<a href="/productos/logueado/<%=products[i].id%>"><img class="imagenproductos" src="<%=products[i].foto%>" alt="<%products[i].marca%>-<%products[i].modelo%>"></a>
							</figure>
							<article class="product-box_data">
								<a href="/productos/logueado/<%=products[i].id%>"><h2><%=products[i].marca%> <%=products[i].modelo%></h2></a>
								<p><%=products[i].descripcion%></p>
								<p>Comentarios: <%=products[i].comentarios%></p>
							</article>
					</section>
				</div>
			<%}%> 
		</div>
	</div>
	<!-- /Novedades -->
	<!-- M치s comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="titulos">M치s comentados</h2>
			</div>
			<%for(let i=4;i<8;i+=1){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
							<figure class="product-box_image">
								<a href="/productos/logueado/<%=products[i].id%>"><img class="imagenproductos" src="<%=products[i].foto%>" alt="<%products[i].marca%>-<%products[i].modelo%>"></a>
							</figure>
							<article class="product-box_data">
								<a href="/productos/logueado/<%=products[i].id%>"><h2><%=products[i].marca%> <%=products[i].modelo%></h2></a>
								<p><%=products[i].descripcion%></p>
								<p>Comentarios: <%=products[i].comentarios%></p>
							</article>
					</section>
				</div>
			<%}%> 
		</div>
	</div>
	<%}else{%>
		<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="titulos">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%for(let i=0;i<4;i+=1){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
							<figure class="product-box_image">
								<a href="/productos/busqueda/<%=products[i].id%>"><img class="imagenproductos" src="<%=products[i].foto%>" alt="<%products[i].marca%>-<%products[i].modelo%>"></a>
							</figure>
							<article class="product-box_data">
								<a href="/productos/busqueda/<%=products[i].id%>"><h2><%=products[i].marca%> <%=products[i].modelo%></h2></a>
								<p><%=products[i].descripcion%></p>
								<p>Comentarios: <%=products[i].comentarios%></p>
							</article>
					</section>
				</div>
			<%}%> 
		</div>
	</div>
	<!-- /Novedades -->
	<!-- M치s comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="titulos">M치s comentados</h2>
			</div>
			<%for(let i=4;i<8;i+=1){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
							<figure class="product-box_image">
								<a href="/productos/busqueda/<%=products[i].id%>"><img class="imagenproductos" src="<%=products[i].foto%>" alt="<%products[i].marca%>-<%products[i].modelo%>"></a>
							</figure>
							<article class="product-box_data">
								<a href="/productos/busqueda/<%=products[i].id%>"><h2><%=products[i].marca%> <%=products[i].modelo%></h2></a>
								<p><%=products[i].descripcion%></p>
								<p>Comentarios: <%=products[i].comentarios%></p>
							</article>
					</section>
				</div>
			<%}%> 
		</div>
	</div>
	<%}%>
<%- include("partials/footer.ejs")%>