<%- include("partials/headerRegistrado.ejs")%>
    <section class="info-usuario container products-wrapper">
		<div class="row">
            <% if(resultados.avatar!=null){%>
                <div class="img-container offset-3 col-2">
                    <img src="<%= resultados.avatar %>" alt="foto de perfil" class="foto-perfil">
                    <a href="/edicion">agregar o editar foto</a>
                </div>
            <% }else{%>
                <div class="img-container offset-3 col-2">
                    <img src="images/products/default-image.png" alt="foto de perfil" class="foto-perfil">
                    <a href="/edicion">agregar o editar foto</a>
                </div>
            <% }%>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= locals.nombre%> <%= locals.apellido%>
						<a href="/edicion">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="danger-btn mt-3 ml-4" href="/perfil/borrar/<%=resultados.id%>">BORRAR PERFIL</a>
				</div>
				<div>
					<ul class="">
                        <% if(resultados.productos==0){%>
                        <li>0 productos creados</li>
                        <% }else{%>
						<li><%= resultados.productos.length%> productos creados</li>
                        <% }%>
                        <%if(resultados.comentarios==0){%>
                        <li>0 comentarios creados</li>
                        <% }else{%>
						<li><%= resultados.comentarios.length%> comentarios creados</li>
                        <% }%>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->
	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
            <% if(resultados.productos==0){%>
                <h1>no existen productos subidos, empeza a crearlos</h1>
            <% }else{%>
                <%for(let i=0;i<resultados.productos.length;i+=1){%> 
                    <div class="col-12 col-sm-6 col-lg-3">
                        <section class="product-box">
                                <figure class="product-box_image">
                                    <a href="/productos/busqueda/<%=resultados.productos[i].id%>"><img src="<%=resultados.productos[i].foto%>" alt="imagen del auto"></a>
                                </figure>
                                <article class="product-box_data">
                                    <a href="/productos/busqueda/<%=resultados.productos[i].id%>"><h2><%=resultados.productos[i].marca%> <%=resultados.productos[i].modelo%></h2></a>
                                    <p>descripción:<%=resultados.productos[i].descripcion%></p>
                                    <p>Comentarios: <%=resultados.comentarios.length%></p>
                                </article>
                        </section>
                    </div>
                <%}%>
            <% }%>
        </div>
    </div>
<%- include("partials/footer.ejs")%>