<% if (nombre == null) { %>
	<%- include("partials/header.ejs")%>
	<% } else { %>	
	<%- include("partials/headerRegistrado.ejs")%>
<% } %>
<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="titulos"><%=products.marca%> <%=products.modelo%></h2> 
            <p class="product-detail-description">
                <a href="/productos/editar/<%=products.id%>">Editar producto</a>
            </p> 
            <p class="product-detail-description">
                <a href="/productos/borrar/<%=products.id%>">Eliminar producto</a>
            </p> 
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="<%=products.foto%>" alt="<%=products.foto%>">
                <p class="product-detail-description">
                    <%=products.descripcionlarga%>
                </p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">
                    <%for(let i=0;i<4;i+=1){%> 
                    <article>
                        <img src="https://via.placeholder.com/35" alt="">
                        <div class="data">
                            <p class="user">
                            <strong> <a href="/usuarios"><%=comentarios[i].usuarios.nombre%></a> </strong>
                            <%=comentarios[i].texto%></p>
                        </div>
                    </article>
                    <%}%>
                </section>
                <form class="form" action="/productos/busqueda/<%=products.id%>/comentario" method="POST">
                    <input id="comentario" class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>


<%- include("partials/footer.ejs")%>