<% if (nombre==null) { %>
    <%- include("partials/header.ejs")%>
<% } else { %>
    <%- include("partials/headerRegistrado.ejs")%>
<% } %>


<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/images/users/user 2.jpg" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 class="" id="tit-info"><%= resultados.nombre %></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" id="tit-info">Nombre de usuario</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" id="texto-info"><%= resultados.nombre %> <%= resultados.apellido %> </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" id="tit-info">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" id="texto-info"><%= resultados.mail %></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" id="tit-info">Productos cargados</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" id="texto-info"></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" id="tit-info">Comentarios realizados</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" id="texto-info"></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" id="tit-info">Fecha de registración</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" id="texto-info"><%= resultados.created_at %></div>
                        </div>
                        <hr>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<%console.log(resultados)%>


<%- include("partials/footer.ejs")%>